apiVersion: v1
kind: Service
metadata:
  name: mongo-srv
  namespace: infrastructure
  labels:
    app: mongo
spec:
  type: ClusterIP
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP