apiVersion: v1
kind: Service
metadata:
  name: auth-srv
  namespace: default
  labels:
    app: auth
    service: auth
    tier: application
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3001"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: auth
  ports:
  - name: http
    protocol: TCP
    port: 3001
    targetPort: 3001
  type: ClusterIP
  sessionAffinity: None