# ============================================
# Reporting Service - Service
# ============================================

apiVersion: v1
kind: Service
metadata:
  name: reporting-srv
  namespace: graduate-project
  labels:
    app: reporting
    tier: application
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3006"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - port: 3006
    targetPort: 3006
    protocol: TCP
    name: http
  selector:
    app: reporting
