apiVersion: v1
kind: Service
metadata:
  name: grafana-srv
  namespace: monitoring
  labels:
    app: grafana
    tier: monitoring
spec:
  selector:
    app: grafana
  ports:
  - name: grafana
    port: 3030
    targetPort: 3030
  type: ClusterIP
