# ============================================
# Employee Service - Service
# ============================================

apiVersion: v1
kind: Service
metadata:
  name: employee-srv
  namespace: graduate-project
  labels:
    app: employee
    tier: application
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3003"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: employee
