# ============================================
# Notification Service - Service
# ============================================

apiVersion: v1
kind: Service
metadata:
  name: notification-srv
  namespace: graduate-project
  labels:
    app: notification
    tier: application
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3005"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    app: notification
