apiVersion: v1
kind: Service
metadata:
  name: face-recognition-srv
  namespace: default
  labels:
    app: face-recognition
    tier: api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: face-recognition
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080
  type: ClusterIP