# ============================================
# Attendance Service - Service
# ============================================

apiVersion: v1
kind: Service
metadata:
  name: attendance-srv
  namespace: graduate-project
  labels:
    app: attendance
    tier: application
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3002"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: attendance
