apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: default
  labels:
    app: postgres
spec:
  type: NodePort
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: 30432  # Port trên node (30000-32767)
      protocol: TCP
      name: postgres
  selector:
    app: postgres  # Phải match với label của PostgreSQL pod
